lab3/client/src/main/resources/MovieService.wsdl

<!--  Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4 (RELEASE-4.0.4-ec440d5; 2024-06-28T10:09:00+0000) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#ec440d5.  -->
<!--  Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4 (RELEASE-4.0.4-ec440d5; 2024-06-28T10:09:00+0000) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#ec440d5.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.lab3.ws.itmo.mermakov.info/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://service.lab3.ws.itmo.mermakov.info/" name="MovieService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://service.lab3.ws.itmo.mermakov.info/"
                        schemaLocation="http://127.0.0.1:8080/ws/movie-service?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="deleteMovie">
        <part name="parameters" element="tns:deleteMovie"/>
    </message>
    <message name="deleteMovieResponse">
        <part name="parameters" element="tns:deleteMovieResponse"/>
    </message>
    <message name="updateMovie">
        <part name="parameters" element="tns:updateMovie"/>
    </message>
    <message name="updateMovieResponse">
        <part name="parameters" element="tns:updateMovieResponse"/>
    </message>
    <message name="InvalidBodyException">
        <part name="fault" element="tns:InvalidBodyException"/>
    </message>
    <message name="getMovies">
        <part name="parameters" element="tns:getMovies"/>
    </message>
    <message name="getMoviesResponse">
        <part name="parameters" element="tns:getMoviesResponse"/>
    </message>
    <message name="addMovie">
        <part name="parameters" element="tns:addMovie"/>
    </message>
    <message name="addMovieResponse">
        <part name="parameters" element="tns:addMovieResponse"/>
    </message>
    <portType name="MovieWebService">
        <operation name="deleteMovie">
            <input wsam:Action="http://service.lab3.ws.itmo.mermakov.info/MovieWebService/deleteMovieRequest"
                   message="tns:deleteMovie"/>
            <output wsam:Action="http://service.lab3.ws.itmo.mermakov.info/MovieWebService/deleteMovieResponse"
                    message="tns:deleteMovieResponse"/>
        </operation>
        <operation name="updateMovie">
            <input wsam:Action="http://service.lab3.ws.itmo.mermakov.info/MovieWebService/updateMovieRequest"
                   message="tns:updateMovie"/>
            <output wsam:Action="http://service.lab3.ws.itmo.mermakov.info/MovieWebService/updateMovieResponse"
                    message="tns:updateMovieResponse"/>
            <fault message="tns:InvalidBodyException" name="InvalidBodyException"
                   wsam:Action="http://service.lab3.ws.itmo.mermakov.info/MovieWebService/updateMovie/Fault/InvalidBodyException"/>
        </operation>
        <operation name="getMovies">
            <input wsam:Action="http://service.lab3.ws.itmo.mermakov.info/MovieWebService/getMoviesRequest"
                   message="tns:getMovies"/>
            <output wsam:Action="http://service.lab3.ws.itmo.mermakov.info/MovieWebService/getMoviesResponse"
                    message="tns:getMoviesResponse"/>
        </operation>
        <operation name="addMovie">
            <input wsam:Action="http://service.lab3.ws.itmo.mermakov.info/MovieWebService/addMovieRequest"
                   message="tns:addMovie"/>
            <output wsam:Action="http://service.lab3.ws.itmo.mermakov.info/MovieWebService/addMovieResponse"
                    message="tns:addMovieResponse"/>
            <fault message="tns:InvalidBodyException" name="InvalidBodyException"
                   wsam:Action="http://service.lab3.ws.itmo.mermakov.info/MovieWebService/addMovie/Fault/InvalidBodyException"/>
        </operation>
    </portType>
    <binding name="MovieWebServicePortBinding" type="tns:MovieWebService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="deleteMovie">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateMovie">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidBodyException">
                <soap:fault name="InvalidBodyException" use="literal"/>
            </fault>
        </operation>
        <operation name="getMovies">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addMovie">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidBodyException">
                <soap:fault name="InvalidBodyException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="MovieService">
        <port name="MovieWebServicePort" binding="tns:MovieWebServicePortBinding">
            <soap:address location="http://127.0.0.1:8080/ws/movie-service"/>
        </port>
    </service>
</definitions>