lab3/client/src/main/resources/service.wsdl

<definitions
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.lab3.ws.itmo.mermakov.info/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
        targetNamespace="http://service.lab3.ws.itmo.mermakov.info/" name="MovieService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://service.lab3.ws.itmo.mermakov.info/"
                        schemaLocation="schema.xsd"/>
        </xsd:schema>
    </types>
    <message name="updateMovie">
        <part name="parameters" element="tns:updateMovie"/>
    </message>
    <message name="updateMovieResponse">
        <part name="parameters" element="tns:updateMovieResponse"/>
    </message>
    <message name="InvalidBodyException">
        <part name="fault" element="tns:InvalidBodyException"/>
    </message>
    <message name="AuthException">
        <part name="fault" element="tns:AuthException"/>
    </message>
    <message name="deleteMovie">
        <part name="parameters" element="tns:deleteMovie"/>
    </message>
    <message name="deleteMovieResponse">
        <part name="parameters" element="tns:deleteMovieResponse"/>
    </message>
    <message name="getMovies">
        <part name="parameters" element="tns:getMovies"/>
    </message>
    <message name="getMoviesResponse">
        <part name="parameters" element="tns:getMoviesResponse"/>
    </message>
    <message name="addMovie">
        <part name="parameters" element="tns:addMovie"/>
    </message>
    <message name="addMovieResponse">
        <part name="parameters" element="tns:addMovieResponse"/>
    </message>
    <portType name="MovieWebService">
        <operation name="updateMovie">
            <input wsam:Action="http://service.lab3.ws.itmo.mermakov.info/MovieWebService/updateMovieRequest"
                   message="tns:updateMovie"/>
            <output wsam:Action="http://service.lab3.ws.itmo.mermakov.info/MovieWebService/updateMovieResponse"
                    message="tns:updateMovieResponse"/>
            <fault message="tns:InvalidBodyException" name="InvalidBodyException"
                   wsam:Action="http://service.lab3.ws.itmo.mermakov.info/MovieWebService/updateMovie/Fault/InvalidBodyException"/>
            <fault message="tns:AuthException" name="AuthException"
                   wsam:Action="http://service.lab3.ws.itmo.mermakov.info/MovieWebService/updateMovie/Fault/AuthException"/>
        </operation>
        <operation name="deleteMovie">
            <input wsam:Action="http://service.lab3.ws.itmo.mermakov.info/MovieWebService/deleteMovieRequest"
                   message="tns:deleteMovie"/>
            <output wsam:Action="http://service.lab3.ws.itmo.mermakov.info/MovieWebService/deleteMovieResponse"
                    message="tns:deleteMovieResponse"/>
            <fault message="tns:AuthException" name="AuthException"
                   wsam:Action="http://service.lab3.ws.itmo.mermakov.info/MovieWebService/deleteMovie/Fault/AuthException"/>
        </operation>
        <operation name="getMovies">
            <input wsam:Action="http://service.lab3.ws.itmo.mermakov.info/MovieWebService/getMoviesRequest"
                   message="tns:getMovies"/>
            <output wsam:Action="http://service.lab3.ws.itmo.mermakov.info/MovieWebService/getMoviesResponse"
                    message="tns:getMoviesResponse"/>
        </operation>
        <operation name="addMovie">
            <input wsam:Action="http://service.lab3.ws.itmo.mermakov.info/MovieWebService/addMovieRequest"
                   message="tns:addMovie"/>
            <output wsam:Action="http://service.lab3.ws.itmo.mermakov.info/MovieWebService/addMovieResponse"
                    message="tns:addMovieResponse"/>
            <fault message="tns:InvalidBodyException" name="InvalidBodyException"
                   wsam:Action="http://service.lab3.ws.itmo.mermakov.info/MovieWebService/addMovie/Fault/InvalidBodyException"/>
            <fault message="tns:AuthException" name="AuthException"
                   wsam:Action="http://service.lab3.ws.itmo.mermakov.info/MovieWebService/addMovie/Fault/AuthException"/>
        </operation>
    </portType>
    <binding name="MovieWebServicePortBinding" type="tns:MovieWebService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="updateMovie">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidBodyException">
                <soap:fault name="InvalidBodyException" use="literal"/>
            </fault>
            <fault name="AuthException">
                <soap:fault name="AuthException" use="literal"/>
            </fault>
        </operation>
        <operation name="deleteMovie">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="AuthException">
                <soap:fault name="AuthException" use="literal"/>
            </fault>
        </operation>
        <operation name="getMovies">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addMovie">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidBodyException">
                <soap:fault name="InvalidBodyException" use="literal"/>
            </fault>
            <fault name="AuthException">
                <soap:fault name="AuthException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="MovieService">
        <port name="MovieWebServicePort" binding="tns:MovieWebServicePortBinding">
            <soap:address location="http://127.0.0.1:8080/ws/movie-service"/>
        </port>
    </service>
</definitions>